# https://github.com/Bonnee/dotfiles/blob/home_as_root/.config/sway/config.d/rules

for_window [window_type="menu"] floating enable
for_window [window_role="pop-up"] floating enable
for_window [window_role="bubble"] floating enable
for_window [window_role="task_dialog"] floating enable
for_window [window_role="(Pp)references"] floating enable
for_window [window_type="dialog"] floating enable

# VOLUME
for_window [app_id="pavucontrol"] floating enable; resize set 500 300; move window to position 2050 0

# FIREFOX
assign [class="firefox"] $ws_browsers

# SPOTIFY
for_window [class="Spotify"] move container to workspace $ws_background;
for_window [class="Spotify"] floating enable; resize set width 1600 height 900;

# VSCODE
assign [class="code-oss"] $ws_code

# VMWare Workstation
for_window [class="Vmware"] move containre to workspace $ws_work;

# feh
for_window [class="feh"] floating enable; 

# SLACK
for_window [class="Slack"] move container to workspace $ws_background;

# Custom Popup Confirmation Terminals
for_window [title="pacman-update-confirm"] floating enable
for_window [title="pacman-update-confirm"] mark "updater", move scratchpad, resize set width 1600 height 900, scratchpad show
