* {
    font-weight: bold;
    border: none;
    border-radius: 0;
    font-family: "SourceCodePro";
    font-size: 17px;
    min-height: 0;
}

window#waybar {
    /*background: transparent;*/
    background: rgba(0,0,0, 0.3);
    color: white;
}

#window {
    font-family: "OverpassMono";
}


#mode {
    background: #64727D;
}

#clock, #battery, #cpu, #memory, #network, #pulseaudio, #tray, #mode,
#idle_inhibitor, #custom-updates, #custom-bluetooth, #custom-spotify, #backlight {
    padding: 0 10px;
    margin: 0 5px;
    color: #ffffff;
    background-color: rgba(255, 255, 255, .1);
    border-top: 3px solid rgba(255, 255, 255, .2);
}

/* ======================= BATTERY CONFIGURATION ======================= */
#battery {
}

#battery.charging {
    /*border-top: 3px solid #8dbf8f;*/
    color: #8dbf8f;
}

#battery:not(.charging) {
    /*border-top: 3px solid #a3be8c;*/
    color: #a3be8c;
}
#battery.good:not(.charging) {
    /*border-top: 3px solid #a3be8c;*/
    color: #a3be8c;
}
#battery.medium:not(.charging) {
    /*border-top: 3px solid #fdfd96;*/
    color: #fdfd96;
}
#battery.warning:not(.charging) {
    /*border-top: 3px solid #ebcb8b;*/
    color: #ebcb8b;
}

@keyframes blink {
    to {
        color: #ffffff;
    }
}

#battery.critical:not(.charging) {
    /*border-top: 3px solid #bf616a;*/
    color: #bf616a;
    animation-name: blink;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

/* ======================= CLOCK CONFIGURATION ======================= */
#clock {
    background: transparent;
    color: white;
    background-color: rgba(255, 255, 255, 0);
    border-top: 0px;
    border-bottom: 0px;
}

/* ======================= CPU CONFIGURATION ======================= */
#cpu {
}

/* ======================= MEMORY CONFIGURATION ======================= */
#idle_inhibitor {
    background: transparent;
    color: white;
    background-color: rgba(255, 255, 255, 0);
    border-top: 0px;
    border-bottom: 0px;
    padding: 0 5px;
    margin: 0 2px;
}

/* ======================= MEMORY CONFIGURATION ======================= */
#memory {
}

/* ======================= NETWORK CONFIGURATION ======================= */
#network {
}

#network.disconnected {
    color: #bf616a;
}

/* ======================= PULSE AUDIO CONFIGURATION ======================= */
#pulseaudio {
}

#pulseaudio.muted {
    color: rgba(255, 255, 255, .2);
}


/* ======================= TRAY CONFIGURATION ======================= */
#tray {
}

/*
 * Workspaces
 */

#workspaces button {
    /*border-top: 2px solid transparent;*/
    /* To compensate for the top border and still have vertical centering */
    padding-bottom: 0px;
    padding-left: 10px;
    padding-right: 10px;
    color: #ffffff;
    font-weight: bold;
}

#workspaces button.focused {
    border-color: #ffffff;
    color: white;
    background-color: rgba(100, 114, 125, 0.2);
    border-top: 3px solid #ffffff;
}

#workspaces button.urgent {
    border-color: #c9545d;
    color: #c9545d;
}

/* ======================= BLUETOOTH CONFIGURATION ======================= */
#custom-bluetooth.down {
    color: #bf616a;
}

#custom-bluetooth.off {
    color: rgba(255, 255, 255, .2);
}

#custom-bluetooth.on {
    /*color: #81a1c1;*/
    color: #ffffff;
}

/* ======================= SPOTIFY CONFIGURATION ======================= */
#custom-spotify {
    /*border-top: 3px solid #1DB954;*/
}
